:root {
	--lightblue-color: #A2D2FF;
    --darkblue-color: #2C698D;
    --yellow-color: #FEE440;
    --orange-color: #FF865E;
    --pink-color: #FEF9EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /*header*/
header {
        display: flex;
        width: 100%;
        height: 98px;
        position: fixed;
        background-color: white;
    }

.logo {
    margin-left: 44px;
    margin-top: 10px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
    margin-top: 39px;
    color: var(--darkblue-color);
}

nav {
    display: flex;
    overflow: hidden;
}

.mainmenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;   
    background-color: var(--lightblue-color);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 100px;
    overflow-y: scroll;
}
.mainmenu a {
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.mainmenu {
    list-style: none;
    text-align: left;
    padding-left: 60px;
    line-height: 105px;
    margin: 0;
  
}

.pop div {
    width: 25px;
    height: 4px;
    background-color: var(--darkblue-color);
    margin: 5px;
    cursor: pointer;
}
  
.pop {
    position: absolute;
    text-align: right;
    right: 71px;
    top: 33px;
}

.pop {
    display: block;
}

/*First section*/

main{
    padding: 98px 0 0 0;
}

.suscribe-title{
    background-color: var(--lightblue-color);
    display: block;    
    text-align: center;   
    font-family: 'Montserrat', 'sans-serif';
}

.card{
    width: 40vw;
}

.suscribe-title h2{
    padding: 3vh 0 3vh 0;
    color: var(--darkblue-color);
    font-size: 28px;
    font-weight: bold;
}

.suscribe-title p{
    padding: 2vh 0 3vh 0;
    font-weight: 500;
    margin-left: 5vw;
}

/*Plans boxes*/

.plans{
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*grid-template-columns: 1fr 3fr 1fr;*/
    /*grid-template-rows: auto 1fr 1fr 1fr;*/
    row-gap: 30px;
    

}

.plans h2{
    font-family: 'Montserrat', 'sans-serif';
    color: var(--darkblue-color);
    font-size: 28px;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding: 15px 0 0 0;
}
.plan-box{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    grid-area: plan-year;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    width: 350px;
    height: 325px;
    border-radius: 15px;    
}

.plan-header{
    background-color: var(--yellow-color);
    border-radius: 15px;
    text-align: center;
}

.plan-header h3{
    padding-top: 1vh;
}
.price{
    font-size: 30px;
    font-weight: 700;
    padding: 0.5vh 0 0.5vh 0;
}

.price-description{
    padding-bottom: 1vh;
    font-weight: 400;
}

.plan-list ul li::before{
    content: "•";
    color: var(--lightblue-color);
    display: inline-block;
    width: 1em;
    font-weight: bold;
}

.plan-list ul{
    font-weight: 500;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 1vh;
    list-style: none;
}

.suscribe-button{
    margin-top: 35px;
    text-align: center;   
}

.suscribe-button a{
    font-weight: bold;
    background-color: var(--yellow-color);
    border-radius: 10px;
    padding: 1vh 4vw 1vh 4vw;
    text-decoration: none;
    color: var(--darkblue-color);
}

.six-months.plan-box{
    grid-row: 3/4;
}

.one-month.plan-box{
    grid-row: 4/5;
    margin-bottom: 50px;
}

.six-months.plan-header{
    background-color: var(--orange-color);
}

/*contact*/

.location {
    width: 100%;
    height: 375px;
    background-color: var(--orange-color);
    padding-top: 150px;
}

.location img,
.facebook img,
.quote img,
.call img,
.mail img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.locationp {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.quotep {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--darkblue-color);
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 20px 0px;
}

.blue.locationp{
    color: var(--darkblue-color);
}

.facebook {
    width: 100%;
    height: 375px;
    background-color: var(--pink-color);
    padding-top: 150px;
    color: var(--darkblue-color);
}

.quote {
    width: 100%;
    height: 375px;
    background-color: #ffffff;
    padding-top: 150px;
}

.call {
    width: 100%;
    height: 375px;
    background-color: var(--pink-color);
    color: var(--darkblue-color);
    padding-top: 150px;
}

.mail {
    width: 100%;
    height: 375px;
    background-color: var(--orange-color);
    padding-top: 150px;
}

/*footer*/

.footertext {
    text-align: center;
    font-size: 15px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    padding-top: 40px;
    text-transform: uppercase;
}

.footertext a {
    text-decoration: none;
}

.footer-grid {
    display: flex;
    flex-direction: column;
	grid-gap: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;

}

.arrow {
    padding-top: 20px;
}

.copyright {
    text-align: center;
    font-size: 18px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

h5 a {
    text-decoration: none;
    color: black;
}

.logo2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width:1000px){


    .plans{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .plans h2{
        grid-row: 1/2;
    }

    .plan-box{
        margin-left: 8%;
        width: 300px;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 50px
    }

    .six-months.plan-box{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-bottom: 50px
    }

    .one-month.plan-box{
        grid-row: 2/3;
        grid-column: 3/4;

    }
}

@media (min-width: 1200px){
    #contact {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0px;
    }

    .location,
    .facebook,
    .quote,
    .call,
    .mail {
        width: 100%;
        height: 150%;
        padding-top: 80px;
    }

    .plan-box{
        margin-left: 12%;
    }
}

@media (min-width: 1400px) {

    .plan-box{
        margin-left: 20%;
    }

    .pop{
        display: none;
    }

    .mainmenu {
        all:initial;
        list-style: none;
        text-align: right;
        padding-left: 200px;
        line-height: 105px;
        margin: 0;
        padding-top: 0;
    }

    .mainmenu li {
        display: inline-block;
    }
      
    .mainmenu a {
        color: black;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat",sans-serif;
        padding: 0px 40px;
    }
      
    .mainmenu a:hover {
        color: var(--lightblue-color);
        font-weight: bold;
    }

}

.nav-active{
    transform: translateX(0%);
  }