* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}
  
.container {
    max-width: 62.5em;
    margin: 0 auto;
    padding: 0 1.25em;
}
  
body {
    background-color: white;
    width: 100%;
}

main {
    padding-top: 98px;
}

header {
    display: flex;
    width: 100%;
    height: 98px;
    position: fixed;
    background-color: white;
}

.logo {
    margin-left: 44px;
    margin-top: 10px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
    margin-top: 39px;
    color: #2C698D;
}


h5 {
    text-align: center;
    font-size: 11px;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #707070;
    padding: 20px 0px;
}


/* main menu */

nav {
    display: flex;
    overflow: hidden;
}

.mainmenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;   
    background-color: #A2D2FF;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 100px;
    overflow-y: scroll;
}
.mainmenu a {
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.mainmenu {
    list-style: none;
    text-align: left;
    padding-left: 60px;
    line-height: 105px;
    margin: 0;
  
}

.pop div {
    width: 25px;
    height: 4px;
    background-color: #2C698D;
    margin: 5px;
    cursor: pointer;
}
  
.pop {
    position: absolute;
    text-align: right;
    right: 71px;
    top: 33px;
}

.pop {
    display: block;
}
/*rewards section*/
#top-part{
	background-color: #FEF9EF;
	
	
}
#banner{
	width: 100%;
	height: auto;
	position: relative
}
#banner img{
	width: 100%;
	height: auto
}
#banner h2{
	font-size: 35px;
	color: #FF865E;
	font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
	position: absolute;
	top:40px;
	left: 35px
}
#text p{
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #FF865E;
	text-align: center;
	padding: 20px 30px
	
}
#text h4 {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
	color: #FF865E;
	text-align: center;
	padding: 20px 60px
	}
.rewards{
	background-color: #A2D2FF;
	width: 100%;
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column
	}
.rewards h3{
	font-size: 30px;
	color:#668FB5;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.reward-box{
	background-color: #FFFFFF;
	display:flex;
	flex-direction: column;
	border-radius: 10px;
	width: 80%;
	height: auto;
	margin: 20px auto;
	padding: 10px 10px
	}
.reward-box img{
	width: 98%;
	height: auto;
	margin: auto;
	border-radius: 10px;
	
}
.reward-box h4{
	font-size: 20px;
	color:#668FB5;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	padding: 30px 0px 10px 0px
}
.gift-card{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 15px 0px
	}
.gift-card p{
	font-size: 16px;
	color: #000000;
	font-family: "Montserrat", sans-serif;
	padding-left: 10px
}
.gift-card img{
	width: 15px;
	height: auto;
	color: #000000;
	border-radius: 0px;
	padding: 0px
	
}
.coins{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 15px 0px
}
.coins p{
	font-size: 16px;
	color: #000000;
	font-family: "Montserrat", sans-serif;
	padding-left: 10px
}
.coins img{
	width: 15px;
	height: auto;
	color: #000000;
	border-radius: 0px;
	padding: 0px
}
.btn {
	background-color: #FFFFFF;
	color: #668FB5;
	border: none;
	box-shadow: 0px 2px 5px 0px #DFDFDF;
	width: 300px;
	padding: 10px 15px;
	border-radius: 15px;
	text-align: center;
	margin: 30px auto;
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
	
	
}



/* contact section */

.location {
    width: 100%;
    height: 375px;
    background-color: #FF865E;
    padding-top: 150px;
}

.location img,
.facebook img,
.quote img,
.call img,
.mail img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.locationp {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.quotep {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2C698D;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 20px 0px;
}

.facebook {
    width: 100%;
    height: 375px;
    background-color: #FFD5BD;
    padding-top: 150px;
}

.quote {
    width: 100%;
    height: 375px;
    background-color: #ffffff;
    padding-top: 150px;
}

.call {
    width: 100%;
    height: 375px;
    background-color: #FFD5BD;
    padding-top: 150px;
}

.mail {
    width: 100%;
    height: 375px;
    background-color: #FF865E;
    padding-top: 150px;
}

/* footer */

.footertext {
    text-align: center;
    font-size: 15px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    padding-top: 40px;
    text-transform: uppercase;
}

.footertext a {
    text-decoration: none;
}

.footer-grid {
    display: grid;
    grid-auto-flow: column;
	grid-gap: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;

}

.arrow {
    padding-top: 20px;
}

.copyright {
    text-align: center;
    font-size: 18px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

h5 a {
    text-decoration: none;
    color: black;
}

.logo2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media(min-width: 700px) {
    h2 {
        padding-top: 66px;
        text-align: center;
        font-size: 40px;
        font-family: acumin-pro, sans-serif;
        font-weight: 800;
        font-style: normal;
        padding-left: 0;
    }

    h3 {
        text-align: center;
        font-size: 45px;
        font-family: acumin-pro, sans-serif;
        font-weight: 800;
        font-style: normal;
        color: #2C698D;
        text-transform: uppercase;
        padding-left: 0;
    }
}

@media (min-width: 1140px) {
    footer {
        padding-top: 100px;
    }

    .contact-grid {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0px;
    }

    .location,
    .facebook,
    .quote,
    .call,
    .mail {
        width: 100%;
        height: 150%;
        padding-top: 80px;
    }

    .logos {
        text-align: center;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        padding-bottom: 40px;
    }

    .logos1 {
        margin: 10px;
    }
}

@media(min-width: 1200px) {
    
    h2 {
        padding-top: 66px;
        text-align: left;
        font-size: 40px;
        font-family: acumin-pro, sans-serif;
        font-weight: 800;
        font-style: normal;
        padding-left: 270px;
    }

    h3 {
        text-align: left;
        font-size: 45px;
        font-family: acumin-pro, sans-serif;
        font-weight: 800;
        font-style: normal;
        color: #2C698D;
        text-transform: uppercase;
        padding-left: 337px;
    }

   
}

@media(min-width: 1440px) {
    .pop{
        display: none;
    }

    .mainmenu {
        position: absolute;
        all:initial;
        list-style: none;
        text-align: right;
        padding-left: 200px;
        line-height: 105px;
        margin: 0;
        padding-top: 0;
    }

    .mainmenu li {
        display: inline-block;
    }
      
    .mainmenu a {
        color: black;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat",sans-serif;
        padding: 0px 40px;
    }
      
    .mainmenu a:hover {
        color: #3895D3;
        font-weight: bold;
    }
}

.nav-active{
    transform: translateX(0%);
}/* CSS Document */

