* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}
  
.container {
    max-width: 62.5em;
    margin: 0 auto;
    padding: 0 1.25em;
}
  
body {
    background-color: white;
    width: 100%;
	margin:0px
}

main {
    padding-top: 98px;
}

header {
    display: flex;
    width: 100%;
    height: 98px;
    position: fixed;
    background-color: white;
}

.logo {
    margin-left: 44px;
    margin-top: 10px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
    margin-top: 39px;
    color: #2C698D;
}


h5 {
    text-align: center;
    font-size: 11px;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #707070;
    padding: 20px 0px;
}


/* main menu */

nav {
    display: flex;
    overflow: hidden;
}

.mainmenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;   
    background-color: #A2D2FF;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 100px;
    overflow-y: scroll;
	
}
.mainmenu a {
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.mainmenu {
    list-style: none;
    text-align: left;
    padding-left: 60px;
    line-height: 105px;
    margin: 0;
  
}

.pop div {
    width: 25px;
    height: 4px;
    background-color: #2C698D;
    margin: 5px;
    cursor: pointer;
}
  
.pop {
    position: absolute;
    text-align: right;
    right: 71px;
    top: 33px;
}

.pop {
    display: block;
}
/*rewards section*/
#top-part{
	background-color: #FEF9EF;
	
	
}
#banner{
	width: 100%;
	height: auto;
	position: relative;
	
}
#banner img{
	width: 100%;
	height: auto
}
#banner h2{
	font-size: 30px;
	color: #FF865E;
	font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
	position: absolute;
	top:25%;
	left: 10%;
}
#text p{
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #FF865E;
	text-align: center;
	padding: 10px 30px 30px 30px
	
}
#text h4 {
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
	color: #FF865E;
	text-align: center;
	padding: 20px 60px 10px 60px
	}
.rewards-1{
	background-color: #A2D2FF;
	width: 100%;
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;	
	margin:0px
	}
.rewards-2{
	background-color: #FEF9EF;
	width: 100%;
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin:0px
	}
.rewards-2 h3{
	font-size: 30px;
	color:#FF865E;
	text-align: center;
	margin: 0px auto;
	font-family: "Montserrat", sans-serif;
}
.rewards-3{
	background-color: #E3F6F5;
	width: 100%;
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin:0px
	}
.rewards-3 h3{
	font-size: 30px;
	color:#668FB5;
	text-align: center;
	margin: 0px auto;
	font-family: "Montserrat", sans-serif;
}
.rewards-1 h3{
	font-size: 30px;
	color:#668FB5;
	text-align: center;
	margin: 0px auto;
	font-family: "Montserrat", sans-serif;
}
.rewards-2 .reward-box h4{
	color:#FF865E
}
.rewards-2 .btn{
	color:#FF865E
}
.reward-box{
	background-color: #FFFFFF;
	display:flex;
	flex-direction: column;
	border-radius: 10px;
	width: 80%;
	height: auto;
	margin: 20px ;
	padding: auto
	}
.reward-box img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	margin-top:0px;
	border-radius: 10px;
	position: relative;
	float: left;
	transition-timing-function: ease-in;
	
}
.reward-box h4{
	font-size: 20px;
	color:#668FB5;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	padding: 30px 0px 10px 0px
}
.gift-card{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 15px 0px
	}
.gift-card p{
	font-size: 16px;
	color: #000000;
	font-family: "Montserrat", sans-serif;
	padding-left: 10px
}
.gift-card img{
	width: 15px;
	height: auto;
	color: #000000;
	border-radius: 0px;
	padding: 0px
	
}
.coins{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 15px 0px
}
.coins p{
	font-size: 16px;
	color: #000000;
	font-family: "Montserrat", sans-serif;
	padding-left: 10px
}
.coins img{
	width: 15px;
	height: auto;
	color: #000000;
	border-radius: 0px;
	padding: 0px
}
.btn {
	background-color: #FFFFFF;
	color: #668FB5;
	border: none;
	box-shadow: 0px 2px 5px 0px #DFDFDF;
	width: 300px;
	padding: 10px 15px;
	border-radius: 15px;
	text-align: center;
	margin: 30px auto;
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
	}
.slide-show{
	display: flex;
	position:relative;
	width: 500%;
	margin: 0px;
	left:0px;
	animation: 20s slide-show infinite;
	padding-bottom: 30px
}
 .slide-show-3{
	display: flex;
	position:relative;
	width: 300%;
	margin: 0px;
	left:0px;
	animation:15s slide-show infinite;
	padding-bottom: 30px
	
}
@keyframes slide-show-3 {
		0%{left:0}
		15%{left:0}
		33.3%{left:-100%}
		60%{left:-100%}
	    66.6%{left:-200%}
		99%{left:-200%}
	    100%{left:-200%}
	
		 }

@keyframes slide-show{
		0%{left:0}
		15%{left:0}
		20%{left:-100%}
		35%{left:-100%}
	    40%{left:-200%}
		55%{left:-200%}
		60%{left:-300%}
		75%{left:-300%}
		80%{left:-400%}
		95%{left:-400%}
		100%{left:-400%}
	    }


/* contact section */

.location {
    width: 100%;
    height: 375px;
    background-color: #FF865E;
    padding-top: 150px;
}

.location img,
.facebook img,
.quote img,
.call img,
.mail img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.locationp {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.quotep {
    text-align: center;
    width: 228px;
    font-size: 13px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2C698D;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 20px 0px;
}

.facebook {
    width: 100%;
    height: 375px;
    background-color: #FFD5BD;
    padding-top: 150px;
}

.quote {
    width: 100%;
    height: 375px;
    background-color: #ffffff;
    padding-top: 150px;
}

.call {
    width: 100%;
    height: 375px;
    background-color: #FFD5BD;
    padding-top: 150px;
}

.mail {
    width: 100%;
    height: 375px;
    background-color: #FF865E;
    padding-top: 150px;
}

/* footer */

.footertext {
    text-align: center;
    font-size: 15px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    padding-top: 40px;
    text-transform: uppercase;
}

.footertext a {
    text-decoration: none;
}

.footer-grid {
    display: grid;
    grid-auto-flow: column;
	grid-gap: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;

}

.arrow {
    padding-top: 20px;
}

.copyright {
    text-align: center;
    font-size: 18px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

h5 a {
    text-decoration: none;
    color: black;
}

.logo2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media(min-width: 700px) {
	#banner h2{
		top:30%;
		left: 10%;
		font-size: 45px
	}
}

@media (min-width: 1040px) {
    
	
	#banner h2{
		top:30%;
		left: 15%;
		font-size: 55px
	}
	#banner img{
		height: 700px;
		width: 100%;
		object-fit: cover
	}
	#text h4{
		font-size: 22px;
		padding: 30px 100px 10px 100px
	}
	#text p{
		font-size: 20px;
		padding: 20px 150px 40px 150px 
	}
	.slide-show{
		width: 100%;
		display:flex;
		animation: none;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 0px
		}
	.slide-show-3{
		width: 100%;
		display:flex;
		animation: none;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 0px
		}
	.reward-box{
	width: 45%;
	padding-bottom: 30px;
	margin-top: 20px
	}
.reward-box img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	margin-top:0px;
	border-radius: 10px;
		
}
.reward-box h4{
	font-size: 22px;
	}

.gift-card p{
	font-size: 18px;
	}
.gift-card img{
	width: 20px;
	height: auto;
	border-radius: 0px
		
}

.coins p{
	font-size: 18px;
	}
	
.coins img{
	width: 20px;
	height: auto;
	border-radius: 0px
	}
.btn {
		font-size: 20px;
	
	}
	
	.rewards-1, .rewards-2, .rewards-3{
		overflow: visible
	}
	
	footer {
        padding-top: 100px;
    }

    .contact-grid {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0px;
    }

    .location,
    .facebook,
    .quote,
    .call,
    .mail {
        width: 100%;
        height: 150%;
        padding-top: 80px;
    }

    .logos {
        text-align: center;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        padding-bottom: 40px;
    }

    .logos1 {
        margin: 10px;
    }
}

@media(min-width: 1200px) {
    
   #banner h2{
		top:30%;
		left: 15%;
		font-size: 55px
	}

   
}

@media(min-width: 1440px) {
    .pop{
        display: none;
    }

    .mainmenu {
        position: absolute;
        all:initial;
        list-style: none;
        text-align: right;
        padding-left: 200px;
        line-height: 105px;
        margin: 0;
        padding-top: 0;
    }

    .mainmenu li {
        display: inline-block;
    }
      
    .mainmenu a {
        color: black;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat",sans-serif;
        padding: 0px 40px;
    }
      
    .mainmenu a:hover {
        color: #3895D3;
        font-weight: bold;
    }
	#banner h2{
		top:30%;
		left: 15%;
		font-size: 60px
	}
	.reward-box{
	width: 30%;
}

.nav-active{
    transform: translateX(0%);
	}/* CSS Document */}

